.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.input-name {
    width: 50%;
}

.btn-close {
   float: right;
}

.ordinaryDay {
    border: 2px solid red;
}

.weekendDay {
  /*  display: none;*/
    border: 2px solid green;
}

.dropdown-menu {
    min-width: 57px;
}

.dropdown-menu > li > a {
    padding: 3px 3px;
    text-align: center;
}

.dropdown-toggle.btn.btn-default{
    padding: 3px 6px;
}

